@model Proyecto2.Models.Tarea

@{
    ViewBag.Title = "Editar Estado";
}

<h2>Editar Estado</h2>

@using (Html.BeginForm("EditarEstado", "Tareas", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Estado)
        @Html.TextBoxFor(model => model.Estado, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
}
