@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <script type="text/javascript">
        window.location.href = '@Url.Action("Login", "Auth")';
    </script>
</body>

</html>
